MEZON_BOT_NAME= Your bot name
MEZON_BOT_TOKEN= Your bot token
MEZON_BOT_ID= Your bot ID
COMMAND_PREFIX= Your command prefix
DATABASE_URL= Your database URL
UPLOAD_CHANNEL_ID= Your upload channel ID

CLOUDINARY_CLOUD_NAME= Your cloudinary cloud name
CLOUDINARY_API_KEY= Your cloudinary API key
CLOUDINARY_API_SECRET= Your cloudinary API secret
CLOUDINARY_FOLDER= Your cloudinary folder

GROQ_API_KEY= Your Groq API key
GROQ_MODEL=llama-3.1-8b-instant